# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
generated
schemas
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vercel

# Local env files
.env
.env.example
!.env.example
service-account.json
